/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  color: currentColor;
  list-style-type: none;
  line-height: 1.4;
}

/* variables */
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --font-size: 13px;
  --font-family: Manrope, sans-serif;
}

/* base */
html {
  font-size: var(--font-size);
  background: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
  font-family: var(--font-family);
}

/* styles */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.article {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  background: #fff;
  border-radius: 1rem;
  max-width: 730px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.06);
}

.article__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.article__content {
  padding: 3rem;
}

.article__title {
  font-size: 1.6rem;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 1rem;
}

.article__text {
  margin-bottom: 1.4rem;
}

.author {
  display: flex;
  align-items: center;
}

.author__avatar {
  max-width: 3.4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.author__name {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}

.author__date {
  color: var(--grayish-blue);
}

.share {
  margin-left: auto;
  position: relative;
}

.share__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  background: var(--light-grayish-blue);
  border-radius: 50%;
  cursor: pointer;
}

.share__button-image {
  padding-bottom: 0.1rem;
  padding-left: 0.1rem;
}

.share__tooltip {
  display: none;
  align-items: center;
  position: absolute;
  bottom: calc(100% + 2rem);
  left: 50%;
  transform: translateX(-50%);
  background: var(--very-dark-grayish-blue);
  padding: 1.4rem 2.8rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
}

.share__tooltip::before {
  content: '';
  width: 1.6rem;
  height: 1.6rem;
  background: inherit;
  position: absolute;
  bottom: -0.6rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
}

.share__text {
  text-transform: uppercase;
  margin-right: 1rem;
  letter-spacing: 0.4rem;
  color: var(--grayish-blue);
}

.share__social-list {
  display: flex;
  align-items: center;
}

.share__social-item {
  cursor: pointer;
}

.share__social-item + .share__social-item {
  margin-left: 1rem;
}

/* modifiers */
.share--active .share__button {
  background: var(--desaturated-dark-blue);
}

.share--active .share__tooltip {
  display: flex;
}

.share--active .share__button-image {
  filter: brightness(2);
}
